@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-item {
  border: 1px solid #7bb385;
  margin-bottom: 30px;
}

.product-item img {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.animated-image {
  vertical-align: middle;
  border-style: none;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1.5s, transform 1.5s;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.animated-image.loaded,
.animated-image:not([src]) {
  opacity: 1;
  transform: scale(1);
}

.product-item .down-content {
  padding: 30px;
  position: relative;
}

.product-item .down-content h4 {
  font-size: 17px;
  color: #7bb385;
  margin-bottom: 20px;
}

.product-item .down-content p {
  margin-bottom: 20px;
}

.product-item .down-content h6 {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 18px;
  color: #121212;
}

.product-item .down-content p {
  margin-bottom: 20px;
}

p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}


.section-heading a i {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.section-heading a:hover i {
  animation: spin 1s linear infinite;
}

#navbarNavDropdown ul li a {
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;

}

footer .inner-content p {
  text-transform: uppercase;
}

footer .inner-content {
  border-top: 1px solid#7bb385;
  margin-top: 60px;
  padding: 60px 0px;
}

.form-control {
  border: var(--bs-border-width) solid #a8c8a0;
}

.form-control:focus {
  border-color: #7bb385;
  box-shadow: 0 0 0 0.15rem #5b876e;
}

.hvr-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #5b876e;
  -webkit-transition-property: color;
  transition-property: color;
  border-radius: var(--bs-border-radius);
  box-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.hvr-hover:hover {
  background-color: #f2a154;
  color: white;
}

.btn-outline-success {
  --bs-btn-color: #198754;
  --bs-btn-border-color: #7bb385;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5b876e;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

#navbarNavDropdown>div>form>div.form-floating>div>span {
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}

.form-control:hover {
  border-color: #7bb385;
  box-shadow: 0 0 0 0.15rem #5b876e;
}

.latest-products {
  margin-top: 100px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-heading {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #a8c8a0;
}

.section-heading h2 {
  font-size: 28px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


a {
  text-decoration: none !important;
}

#frozen:hover,
#fresh:hover,
#beverage:hover,
#home:hover,
#pet:hover {
  color: #5b876e;
  transition: color 1.5s ease;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.status {
  color: #f2a154 !important;
}

.latest-products .section-heading a {
  float: right;
  margin-top: -35px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #7bb385;
  transition: all 0.5s;
}

.latest-products .section-heading a:hover {

  color: #7bb385;

}

#navbarNavDropdown ul li {
  margin: 0px 2px;
}

.dropdown-toggle::after {
  display: none;
}

.product-item i {
  position: relative;
  left: 185px;
}